<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuntoVenta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_InfoSoap" maxReceivedMessageSize="999999" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.bebespeterpan.com/WS_Info.asmx" binding="basicHttpBinding"
                bindingConfiguration="WS_InfoSoap" contract="WS_Info.WS_InfoSoap"
                name="WS_InfoSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <PuntoVenta.Properties.Settings>
            <setting name="UsuarioConectar" serializeAs="String">
                <value>Hector</value>
            </setting>
            <setting name="ContrasenaConectar" serializeAs="String">
                <value>Enter*-01</value>
            </setting>
            <setting name="ListaProductos" serializeAs="String">
                <value>PRODUCTOS</value>
            </setting>
            <setting name="MensajeCompras" serializeAs="String">
                <value>Por favor diligencie todos los datos</value>
            </setting>
            <setting name="ComboTexto" serializeAs="String">
                <value>Nombre</value>
            </setting>
            <setting name="ComboValor" serializeAs="String">
                <value>Consecutivo</value>
            </setting>
            <setting name="MensajeEliminacion" serializeAs="String">
                <value>Esta seguro(a) de que quiere eliminar el registro?</value>
            </setting>
            <setting name="Aplicativo" serializeAs="String">
                <value>Punto de Venta</value>
            </setting>
            <setting name="ListaProveedores" serializeAs="String">
                <value>Proveedores</value>
            </setting>
            <setting name="Files" serializeAs="String">
                <value>C:\PuntoVenta</value>
            </setting>
            <setting name="Impresora" serializeAs="String">
                <value>EPSON TM-T20II Receipt</value>
            </setting>
        </PuntoVenta.Properties.Settings>
    </userSettings>
</configuration>
